gradlew.bat
.gradle/
local.properties
*.iml
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.hprof
*.keystore
!debug.keystore
*.jks
google-services.json
